.pro-dop {
    padding: 59px 0 40px;
    .pro-subtitle {
        margin: 16px auto 0;
        max-width: 640px;

    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: 58px;
        gap: 32px;
        scroll-snap-type: x mandatory;
    }
    &__item {
        scroll-snap-align: start;
    }
   .pro-btn_transparent {
    margin: 53px auto 0;
   }
}